body {
  background-color: dimgray;

}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.naruto-test {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.main-display img{
  width: 500px;
  height: 250px;
  object-fit: cover;
}


.questions {
  width: 500px;
  max-height: 200px;
  display: flex;
  flex-wrap: wrap;

}

.answer {
  width: 250px;
  min-height: 25%;
  background-color: gold;
  cursor: pointer;
  padding: 5px;

}
.answer one {
  grid-area: one;
}
.answer two {
  grid-area: two;
}
.answer three {
  grid-area: three;
}
.answer four {
  grid-area: four;
}